<div class="footer py-5" style="background-color: #111; color: #ccc;">
        <div class="container">
            <div class="row">

                <!-- Tentang -->
                <div class="col-md-4 mb-3">
                    <h5>Tentang Saya</h5>
                    <p>
                        Muhammad Dirfas Haidar<br>
                        Fresh Graduate / Web Developer / QA Enthusiast.<br>
                        Membangun aplikasi web modern dan responsif.
                    </p>
                </div>

                <!-- Link Penting -->
                <div class="col-md-4 mb-3">
                    <h5>Link Penting</h5>
                    <ul class="list-unstyled">
                        <li><a href="tentangsaya.html" class="text-decoration-none text-light">Tentang</a></li>
                        <li><a href="proyek.html" class="text-decoration-none text-light">Portofolio</a></li>
                        <li><a href="kontak.html" class="text-decoration-none text-light">Kontak</a></li>
                    </ul>
                </div>

                <!-- Sosial Media -->
                <div class="col-md-4 mb-3">
                    <h5>Sosial Media</h5>
                    <a href="#" class="text-light me-3" target="_blank"><i class="bi bi-github" ></i> GitHub</a><br>
                    <a href="https://www.linkedin.com/in/dirfashaidar/" class="text-light me-3" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a><br>
                    <a href="https://www.instagram.com/haidarselesaikkn/" class="text-light me-3" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
                </div>

            </div>

            <hr style="border-color: #444;">

            <div class="text-center">
                <p class="mb-0">&copy; 2025 Muhammad Dirfas Haidar. All rights reserved.</p>
            </div>
        </div>
    </div>
