/* Body dengan background image dan opacity */
body {
    position: relative;
    margin: 0;
    background: #000; /* fallback warna */
    color: white; /* default teks putih */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bgoffdesk.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.main {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.navbar {
    background-color: rgba(0,0,0,0.8);
}

.footer {
    background-color: rgba(17,17,17,0.9);
    color: #ccc;
}

/* Card hover effect */
.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}

/* Batasi tinggi carousel */
#carouselExample .carousel-item img {
    height: 500px;
    object-fit: cover;
    width: 80%;
}
/* Cursor blinking */
        #typing-text::after {
            content: "|";
            animation: blink 0.8s infinite;
        }
        @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }